<div >
<h1>{{title}}</h1> 
<h2>{{name}}</h2>
<div *ngIf="log == false; else Else">
  <app-chiave (newKeyEvent)="login($event)"(newAltroEvent)="getKey()">
  </app-chiave>
</div>
<ng-template #Else>
  <h3>La tua chiave per entrare è: {{key}}</h3>
  <div *ngIf="savedPosts.length == 0; else cisono">
  </div>
  <ng-template #cisono>
    <ul *ngIf="click == true; else elseBlock">
      <li *ngFor="let objImp of importants">
        <button (click)="showOne(objImp)">{{objImp.titolo}}</button>
        <button (click)="deletePost(objImp)">ELIMINA POSTIT</button>
      </li>
      <br />
      <button (click)="mostraAll()">MOSTRA DI NUOVO TUTTI</button>
    </ul>
    <!--se mostra solo importanti NON è stato cliccato-->
    <ng-template #elseBlock>
      <ul>
        <button (click)="mostraImp()">MOSTRA SOLO IMPORTANTI</button>
        <li *ngFor="let obj of savedPosts">
          <button (click)="showOne(obj)">{{obj.titolo}}</button>
          <button (click)="deletePost(obj)">ELIMINA POSTIT</button>
        </li>
      </ul>
    </ng-template>
    <app-notifica [selezioneC]="selezione"> </app-notifica>
  </ng-template>  
  <div *ngIf="aggiungi == true; else nonAggiungi">  
    <app-nuovopostit (newPostEvent)="addPost($event)"></app-nuovopostit>
  </div>
  <ng-template #nonAggiungi>
    <button (click)="crea()">INSERISCI UN NUOVO POSTIT</button>
  </ng-template>
  <br /><br />   

</ng-template>
 


